.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main{
  display: flex;
  height: 100vh;
}

.sidebar{
  flex: 0.2;
}

.content{
  flex: 0.8;
  background-color: slateblue;
}


.footer_player{
  flex:1;
}