.track_search_result_container{
    margin-top: 10px;
}
.track_search_result_container:hover{
    background-color: rgb(126, 6, 62);
}

.track_search_result{
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    padding-top:10px;
    margin-bottom: 0;
}


.track_search_result img{
    height: 60px;
    width: 60px;
}

.list{
    width: 100%;
    margin-left: 5px;
}